<div class="card">
  <div class="card-header bg-transparent">
    <div class="fw-bold p-2 ps-3">
      Metadata Templates
    </div>
  </div>
  <div class="card-body">

    <div class="row g-0 card-accordion-title has-actions">
      <div class="col col-md-7 col-lg-6"><span class="meta-title">Metadata Name</span></div>
      <div class="col"><span class="dsc-title d-none d-md-block">Description</span></div>
    </div>
    <div class="card-accordion">
      <mat-accordion class="accordion" [togglePosition]="'before'">
        <mat-expansion-panel class="position-relative" expanded>
          <mat-expansion-panel-header class="has-actions">
            <mat-panel-title>
              <div class="row w-100">
                <div class="col col-md-7 col-lg-6 text-truncate has-badge">
                  <span class="action-padding text-truncate text-link" [routerLink]="['../metadata-template-details']">Department Data</span>
                  <span class="dafault-badge ms-3">default</span><mat-icon class="align-middle desc-info d-md-none" matTooltip="Captures departmental data">info</mat-icon>
                </div>
                <div class="col d-none d-md-block text-truncate meta-description">Captures departmental data </div>
              </div>
              <div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-body">
            <ul class="nav">
            
              <li class="nav-item ">
                <button mat-button  class="icon-button " matTooltip="Edit" (click)="openEditMetadataTemplate()">
                  <mat-icon aria-hidden="false">create</mat-icon>
                </button>
              </li>
              <li class="nav-item">
                <button mat-button class="icon-button " matTooltip="Delete">
                  <mat-icon aria-hidden="false">delete</mat-icon>
                </button>
              </li>
            </ul>


            <ul class="list">
              <li>
                Source: <span class="text-danger"> * </span> <span class=" text-light fw-bold fst-italic"> &#10100;Main
                  source of the data&#10101; </span>
              </li>
              <li>
                Expiry Date: <span class="text-light  fst-italic fw-bold"> &#10100;Determines the validity
                  period&#10101;</span>
              </li>
              <li>
                Department:<span class="fst-italic text-light fw-bold"> &#10100;Informs department name&#10101; </span>
              </li>
              <li>
                Notes: <span class=" fst-italic text-light fw-bold "> &#10100;Additional notes describing
                  data&#10101;</span>
              </li>


            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="position-relative">
          <mat-expansion-panel-header class="has-actions">
            <mat-panel-title>
              <div class="row w-100">
                <div class="col col-md-7 col-lg-6 active-row text-truncate has-badge">
                  <span class="action-padding text-truncate text-link" [routerLink]="['../metadata-template-details']">Financial Data</span>
                  <mat-icon class="align-middle ms-3 desc-info d-md-none" matTooltip="Additional finance related data">info</mat-icon>
                </div>
                <div class="col d-none d-md-block text-truncate meta-description">Additional finance related data</div>
              </div>
              <div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-body">
            <ul class="nav">
          
              <li class="nav-item ">
                <button mat-button  class="icon-button " matTooltip="Set as Default">
                  <mat-icon aria-hidden="false">check_box</mat-icon>
                </button>
              </li>
              <li class="nav-item ">
                <button mat-button  class="icon-button " matTooltip="Edit" (click)="openEditMetadataTemplate()">
                  <mat-icon aria-hidden="false">create</mat-icon>
                </button>
              </li>
              <li class="nav-item">
                <button mat-button class="icon-button " matTooltip="Delete">
                  <mat-icon aria-hidden="false">delete</mat-icon>
                </button>
              </li>
            </ul>
            <ul class="list">
              <li>
                Source: <span class="text-danger"> * </span> <span class=" text-light fw-bold fst-italic"> &#10100;Main
                  source of the data&#10101; </span>
              </li>
              <li>
                Expiry Date: <span class="text-light  fst-italic fw-bold"> &#10100;Determines the validity
                  period&#10101;</span>
              </li>
              <li>
                Department:<span class="fst-italic text-light fw-bold"> &#10100;Informs department name&#10101; </span>
              </li>
              <li>
                Notes: <span class=" fst-italic text-light fw-bold "> &#10100;Additional notes describing
                  data&#10101;</span>
              </li>


            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="gap-2 text-end">
      <button mat-button class="secondary-button" [routerLink]="['../new-metadata-template']">Create New
        Template</button>
    </div>
  </div>
</div>