<div class="card">
    <div class="card-header bg-transparent">
        <div class="fw-bold p-2 ps-3">
            Tags
        </div>
    </div>
    <div class="card-body">
        <span class="badge rounded-pill me-2">
            Tag 1 <span class="close" aria-hidden="true">
                <a href="#">
                    <mat-icon class="material-icons-round">
                        close</mat-icon>
                </a>
            </span>
        </span>
        <span class=" badge rounded-pill me-2">
            Tag 2 <span class="close" aria-hidden="true">
                <a href="#">
                    <mat-icon>close</mat-icon>
                </a>
            </span>
        </span>
        <div class="row mt-4">
            <div class="col-lg-5">
            <div class="app-input-group mb-0">
                <mat-form-field class="app-input-element position-relative" appearance="fill" floatLabel="never">
                    <input matInput placeholder="Add Tag">
                    <button mat-button class="icon-button add-btn" matTooltip="Cancel">
                        <mat-icon aria-hidden="false">cancel</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        </div>
    </div>
</div>